.tag {
  background-color: #3D8CD8;
  color: #FFF;
  border-radius: 100px;
  height: 30px;
  max-width: 188px;
}

.bg-tag {
  max-width: 220px;
}

.tag-rascunho {
  background-color: #72818D;
}

.tag-validado {
  background-color: #3D8CD8;
}
